<h1>New Week Form</h1>


<% if @week.errors.any? %> 
  <div id="fields_with_errors">
    <h2>
      <%= pluralize(@week.errors.count, "error") %>
      prohibited this week from being saved:
    </h2>
 
    <ul>
    <% @week.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= render 'weeks/form' %>
