<h1>New Month Form</h1>

<% if @month.errors.any? %>
  <div id="fields_with_errors">
    <h2>
      <%= pluralize(@month.errors.count, "error") %>
      prohibited this month from being saved:
    </h2>
 
    <ul>
    <% @month.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= render 'months/form' %>

