<h1>Hour: <%= @hour.hour_number %></h1>
<h1>HourID: <%= @hour.id %></h1>


<%= link_to("Edit #{@hour.hour_number}", edit_hour_path) %><br>
<%= link_to("Delete #{@hour.hour_number}", hour_path(@hour), method: :delete, data: { confirm: 'Are you sure?' } ) %>

