<h1>Here are all of your days:</h1>
<div class="daysList">
	<button class="js-alphabetize" >Alphabetize</button>
	<% @days.each do |day| %>
	  <li><%= link_to day.day_day_date, day_path(day) %></li>
	  <div id="day-<%= day.id %>">Focus: <%= day.day_focus %></div>
	  <button class="js-more" data-id="<%= day.id %>">More Info</button>
	<% end %>
</div>

<script type="text/javascript" charset="utf-8">
$(document).on('turbolinks:load', function() {
  $(".js-alphabetize").on("click", function() {
    $.get("/days.json", function(response) {
        response.sort(function(a, b) {
		  var nameA = a.day_focus.toUpperCase(); // ignore upper and lowercase
		  var nameB = b.day_focus.toUpperCase(); // ignore upper and lowercase
		  if (nameA < nameB) {
		    return -1;
		  }
		  if (nameA > nameB) {
		    return 1;
		  }

		  // names must be equal
		  return 0;
		});
        console.log(response);// it works up to here
        let format = response
        //var format = response.map(function(day) {
        	//return "<br>" + day.day_day_date + "<br>" + " Focus: " + day.day_focus ;
        	//var dayDayDayDate = day["day_day_date"];
        	//var dayFocus = day["day_focus"];
          	//var dayExercise = day["day_exercise"];
          	//var hour = day["hours"].map(function (hour) {
            //	return hour["hour_number"] + ": "});
          	//var task = day["tasks"].map(function (task) {
            //	return task["task_content"]});
          	//var hourwithtask = hour.map(function(e, i) {
            //	return "<li>" + e + task[i] + "</li>"}).join('');
          	//var dayText = "<p> Focus: "+ dayFocus + "</p><p> Exercise: " + dayExercise + "</p>"; //<ul>" + hourwithtask + "</ul>" ;
          	//return dayText;
          	//function showList() {
          	//	var dayDayDayDate = day["day_day_date"];
          	//	var dayFocus = day["day_focus"];
          	//	var dayExercise = day["day_exercise"];
          	//	var dayText = "<p> Focus: "+ dayFocus + "</p><p> Exercise: " + dayExercise + "</p>";
          	//	return dayText;
          	//}
        //});
        $(".daysList").append(response);
        console.log("everything should have worked");
        //$("#day-" + id).html(dayText);
    });
  });
});
</script>

