<h1>Here are all of your days:</h1>
<button class="js-alphabetize" >Alphabetize</button>
<% @days.each do |day| %>
  <li><%= link_to day.day_day_date, day_path(day) %></li>
  <div id="day-<%= day.id %>">Focus: <%= day.day_focus %></div>
  <button class="js-more" data-id="<%= day.id %>">More Info</button>
<% end %>

<script type="text/javascript" charset="utf-8">
$(document).on('turbolinks:load', function() {
  $(".js-alphabetize").on("click", function() {
  	console.log('hello');
    $.get("/days.json", function(response) {
        response.sort(function(a, b) {
		  var nameA = a.day_focus.toUpperCase(); // ignore upper and lowercase
		  var nameB = b.day_focus.toUpperCase(); // ignore upper and lowercase
		  if (nameA < nameB) {
		    return -1;
		  }
		  if (nameA > nameB) {
		    return 1;
		  }

		  // names must be equal
		  return 0;
		});
        console.log(response)
        //$("#day-" + id).html(dayText);
    });
  });
});
</script>

