<h1>Here are all of your days:</h1>
<div class="daysList">
	<button class="js-alphabetize" >Alphabetize by Focus</button>
	<% @days.each do |day| %>
	  <li><%= link_to day.day_day_date, day_path(day) %></li>
	  <div id="day-<%= day.id %>">Focus: <%= day.day_focus %></div>
	  <button class="js-more" data-id="<%= day.id %>">More Info</button>
	<% end %>
</div>

<script type="text/javascript" charset="utf-8">
$(document).on('turbolinks:load', function() {
  $(".js-alphabetize").on("click", function() {
    $.get("/days.json", function(response) {
        response.sort(function(a, b) {
		  var nameA = a.day_focus.toUpperCase(); // ignore upper and lowercase
		  var nameB = b.day_focus.toUpperCase(); // ignore upper and lowercase
		  if (nameA < nameB) {
		    return -1;
		  }
		  if (nameA > nameB) {
		    return 1;
		  }

		  // names must be equal
		  return 0;
		});
        var format = alphabetizeIndexShow(response);
    })
    function alphabetizeIndexShow(response) {
    	var listOfObjects = [];
    	response.forEach(function(element) {
    		var dayId = element["id"];
    		var dayDayDate = element["day_day_date"];
    		var dayFocus = element["day_focus"];
    		var dayLink = dayDayDate.link("http://localhost:3000/days/" + dayId)
	        var dayText = '<li>'+ dayLink + '</li>' + '<div>Focus: '+ dayFocus + '</div>';
	        listOfObjects.push(dayText);
    	});
    	$(".daysList").html(listOfObjects);   	
    };
  });
});
</script>

