<h1>Here are all of your days:</h1>
<div class="daysList">
	<button class="js-alphabetize" >Alphabetize by Focus</button>
	<% @days.each do |day| %>
	  <li><%= link_to day.day_day_date, day_path(day) %></li>
	  <div id="day-<%= day.id %>">Focus: <%= day.day_focus %></div>
	  <button class="js-more" data-id="<%= day.id %>">More Info</button>
	<% end %>
</div>

<script type="text/javascript" charset="utf-8">
$(document).on('turbolinks:load', function() {
  $(".js-alphabetize").on("click", function() {
    $.get("/days.json", function(response) {
        response.sort(function(a, b) {
		  var nameA = a.day_focus.toUpperCase(); // ignore upper and lowercase
		  var nameB = b.day_focus.toUpperCase(); // ignore upper and lowercase
		  if (nameA < nameB) {
		    return -1;
		  }
		  if (nameA > nameB) {
		    return 1;
		  }

		  // names must be equal
		  return 0;
		});
        console.log(response);// it works up to here
        var format = alphabetizeIndexShow(response);
        //console.log(format);
        //$(".daysList").html(format);
        console.log("everything should have worked");
        //$("#day-" + id).html(dayText);
    })
    function alphabetizeIndexShow(response) {
    	var listOfObjects = [];
    	response.forEach(function(element) {
    		var dayId = element["id"];
    		var dayDayDate = element["day_day_date"];
    		var dayFocus = element["day_focus"];
	        //var hour = element["hours"].map(function (hour) {
	        //	return hour["hour_number"] + ": "});
	        //var task = element["tasks"].map(function (task) {
	        //    return task["task_content"]});
	        //var hourwithtask = hour.map(function(e, i) {
	        //    return "<li>" + e + task[i] + "</li>"}).join('');
	        var dayText = "<li> "+ dayDayDate + "</li>" + "<p> Focus: "+ dayFocus + dayId + "</p><button class=" + "js-more" + " data-id=" + dayId + ">More Info</button>"; //<ul>" + hourwithtask + "</ul>" ;//
	        //return dayFocus;
	        //console.log(dayText);
	        listOfObjects.push(dayText);
    	});
    	$(".daysList").html(listOfObjects);   	
    };
  });
});
</script>

