<div class="container">
   <ul>
    	<li><%= link_to 'Sign in', new_user_session_path %></li>
    	<li><%= link_to 'Sign up', new_user_registration_path %></li>
    	<li><%= link_to "Sign in with Github", user_github_omniauth_authorize_path %></li>
	</ul>
</div>
